.v-generated-body {
  min-width: 1000px;
  overflow: auto;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: 'Arial', sans-serif;
  }
  
  .content-container {
    flex: 1; 
    padding: 20px; 
    background-color: #f4f4f4; 
    overflow-y: auto; 
  }
  
  footer {
    background-color: #9a4545; 
    color: white;
    text-align: center;
    padding: 10px 0x;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    z-index: 1000;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: color 0.3s;
  }
  
  footer a:hover {
    color: #ffd700; 
  }
  
  nav {
    background-color: #9a4545;
    width: 100%;
    position: relative;
    z-index: 1000;
    top: 0;
    padding: 10px 0; 
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #ffd700;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #c18181;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
  }
  
  .submenu.visible {
    display: block;
  }
  
  li:hover > a {
    color: #ffd700;
  }
  