.create-team-container {
  padding: 20px;
  margin: 0 auto;
  width: 80%; 
  font-family: 'Arial', sans-serif;
}

h1, h2 {
  text-align: center;
}

.team-name-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.selected-pokemon-grid,
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 16px;
  margin: 20px 0;
  width: 100%; 
}

.pokemon-tile {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  background-color: #f9f9f9;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-tile img {
  max-width: 100%;
  border-radius: 8px;
}

.pokemon-tile:hover {
  transform: scale(1.05);
}

.pokemon-tile p {
  margin-top: 8px;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemon-tile button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pokemon-tile button:hover {
  background-color: #cc0000;
}

.save-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
