
nav {
  background-color: #9a4545;
  width: 100%;
  position: relative;
  z-index: 1000;
  top: 0;
  padding: 10px 0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  font-family: 'Arial', sans-serif;
  min-width: 500px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}


li {
  position: relative;
  margin: 0;
  display: flex; 
  align-items: center; 
}


a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease; 
}


a:hover {
  color: #333;
}


.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c18181;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  white-space: nowrap;
}

li:hover .submenu {
  display: block;
}

.submenu a {
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  display: block;
}

.submenu a:hover {
  color: #333;
}


span {
  color: white;
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px; 
}


.logout-button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 20px;
  margin-bottom: 10px;
}

.logout-button:hover {
  color: #333;
}


li span,
li button {
  display: flex;
  align-items: center; 
}
